body{
	text-align: center;
	width: 55%;
	margin: 0 auto;
	clear: both;
	font-family: 'Oxygen', sans-serif;
	height: 100%;

}
@media screen and (max-width: 600px){
	body{
		width: 80%;
	}
}
@media screen and (min-width: 550px){
	h1{
		margin-top: 10%;
	}
}
.background{
	background-image: url(../img/blank-notebook.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: local;
    min-height: 100%;
}
ol{
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 25px;
}
ol>li{
	text-align: left;
	overflow-wrap: break-word;
	padding-top: 10px;
	
}

.taskList{
	height: 95%;
	width: 105%;
	overflow-x: hidden;
	overflow: scroll;
}
@media screen and (max-width: 600px){

	.taskList{
	height: 74%;
	}
}

.mdl-button--fab.mdl-button--colored{
	background: rgb(63,81,181);
}
.mdl-button--fab.mdl-button--colored:hover{
	background-color: rgb(142, 232, 46);
}

.mdl-button{
	float: right;
	top: 17px;
}
.mdl-textfield__input{
	width: 115%;
}
.mdl-textfield{
	width: 65%;
}
input[type=checkbox]{
	margin-right: 2%;
}
li{
	box-shadow: 4px 4px 9px #888888;
}
.listItem{

}

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
}
.liCheckBok{
	float: right;
	margin-right: 5px;
}


